:root{
	--master-hue: 0;
}
*{
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: hsl(var(--3rd-color), 60%, 55%);
	--main_hue: var(--master-hue);
	--2nd-color:calc(var(--main_hue) + 120);
	--3rd-color:calc(var(--main_hue) - 120);
}
header{
	text-align: center;
	padding: 20px;
	border-bottom: 3px solid hsl(var(--2nd-color), 60%, 55%);
}
.TCreate{
	color: hsl(var(--2nd-color), 50%, 50%);
	padding: 100px 100px 0px 100px;
}
.TCreate1{
	color: hsl(var(--2nd-color), 50%, 50%);
	padding: 10px 100px 0px 100px;
}
h1{
	font-size: 55px;
	font-family: 'Rubik', sans-serif;
	color: hsl(var(--2nd-color), 60%, 55%);
}
.subtitle{
	margin: 0px;
}
h3{
	font-size: 40px;
	color: hsl(var(--2nd-color), 50%, 50%);
	font-family: 'Oswald', sans-serif;
	font-variant-caps: all-small-caps;
}
#username{
	font-family: 'Oswald', sans-serif;
	font-variant-caps: all-small-caps;
}
a{
	color: hsl(var(--2nd-color), 60%, 50%);
	font-weight: 700;
	text-decoration: none;
	padding-right: 55px;
}
p{
	font-size: 20px;
}
.acc{
	font-size: 15px;
}
#login{
	margin: 20px 100px 0px 100px;
	height: 250px;
	background-color:  hsl(var(--3rd-color), 60%, 55%)
}
#info{
	background-color: hsl(var(--3rd-color), 60%, 55%);
	height: 150px;
	margin: 0px 100px;
}
#body{
	padding: 20px 100px;
	height: 100%;
}
input{
	padding: 12px;
	width: 80%;
	border: none;
	border-bottom: 3px solid hsl(var(--2nd-color), 60%, 55%);
	background-color: hsl(var(--3rd-color), 60%, 60%);
}
textarea{
	padding: 12px;
	width: 80%;
	height: 150px;
	border: none;
	resize: none;
	border-bottom: 3px solid hsl(var(--2nd-color), 60%, 55%);
	background-color: hsl(var(--3rd-color), 60%, 60%);
}
button{
	padding:8px;
	width: 40%;
	border: 3px solid hsl(var(--2nd-color), 60%, 50%);
	margin: 20px 0px;
	background-color: hsl(var(--2nd-color), 60%, 50%);
	color: white;
	font-size: 15px;
}
button:hover{
	background-color: hsl(var(--main_hue), 60%, 50%);
	border: 3px solid hsl(var(--main_hue), 60%, 50%);	
	color: #fff;
}
button:active{
	background-color: white;
	color: hsl(var(--2nd-color), 60%, 50%);
}

#timeline{
	background-color: hsl(var(--3rd-color), 60%, 55%);
	padding: 25px;
	font-size: 15px;
	line-height: 18px;
	color: white;
	border-left: 5px solid hsl(var(--2nd-color), 60%, 50%);
}
.info{
	padding: 10px 0px 20px 0px;
	font-size: 13px;
	line-height: 13px;
}
#container{
	height: 65vh;
	color: white;
}
.col{
	float: left;
	height: auto;
	}
.c50{
	width: 50%;
	height: auto;
}
.c100{
	width: 100%;
	height: auto;
}
#sign{
	padding: 0px 100px;
}
.link{
	padding: 0px 100px;
}
::placeholder {
    color: white;
	font-size: 15px;
	opacity: 80%;
}
.post{
	padding: 15px 0px;
	border-top: 1px solid white;
	text-align: left;
}
.p-message{
	background-color: hsl(var(--main_hue), 50%, 50%);
}
#update-profile{
	background-color: hsl(var(--3rd-color), 60%, 55%);
	height: 150px;
	margin: 0px 100px;
}
.icon{
	width: 15px;
	vertical-align: middle;
	display: inline-block;
	padding-right: 15px;
}
#back{
	margin: 20px 100px 0px 100px;
}